# Visual Studio
**/bin/
**/obj/
**/.vs/
*.user
*.suo

# NuGet packages
**/packages/
*.nupkg

# Build outputs
*.pdb
# OJO: no ignores *.dll globalmente, el exe distribuido las necesita

# Python / Slicer
**/__pycache__/
*.pyc

# Datos locales
output/
*.csv

# Otros
*.log
Thumbs.db
/Hardware/ErroresInstrumentales.xlsx
/Hardware/Carrito
/Hardware/Stereo Calibration